.home {
  padding: 20px;
  width: 100%;

  .search-textfield {
    position: relative;

    .icon {
      position: absolute;
      top: 18px;
      right: 0;
      height: 50px;
      width: 50px;
      display: flex;
      cursor: pointer;

      i {
        margin: auto;
      }
    }

    .suggestions {
      position: absolute;
      width: 100%;
      background-color: cornsilk;
      z-index: 999;
      margin-top: -8px;

      > div {

        border-left: 1px solid #bbb;
        border-right: 1px solid #bbb;
        border-bottom: 1px solid #bbb;
      }

      span.line-name {
        font-size: 0.89em;
        font-style: italic;
        position: relative;
        padding-left: 25px;

        i {
          position: absolute;
          left: 0;
          top: -7px;
        }
      }
    }
  }

  .favorite-stations {
    font-size: 13px;
    .label {

      i.material-icons {
        font-size: 13px;
      }
    }
    .stations {
      display: block;
      font-size: 0.9em;
      position: relative;
      padding-left: 25px;


      span {
        position: relative;
        margin-right: 10px;
        color: cornflowerblue;
        cursor: pointer;
        font-style: italic;
        text-decoration: underline;
        line-height: 20px;
      }
      .material-icons {
        font-size: 20px;
        font-style: normal;
        position: absolute;
        left: 0;
        color: #aaa;
      }
    }
  }

  .schedule-result {

    .station-name {
    }

    .time {
      position: relative;
      padding-left: 27px;
      text-align: left;
      display: inline-flex;
      align-self: center;
      margin-top: 0;
      font-style: italic;
      min-width: 80px;

      &.item-0 {
        color: green;
      }

      &.item-1 {
        color: orange;
      }
      i {
        position: absolute;
        left: 0;
        top: -3px;
      }
    }
  }
}
