html
  head
    meta(name='viewport' content="width=device-width, initial-scale=1")
    title= title
    link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic')
    link(rel='stylesheet' href='//cdn.rawgit.com/necolas/normalize.css/master/normalize.css')
    link(rel='stylesheet' href='//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css')
    link(rel='stylesheet' href='../css/timetable.css')
  body
    .container
      .row
        h1= message
      .row
        .column
          input(id='station' placeholder='Enter station name')
        .column
          button.button.button-clear(id='locate' name='locate' onclick='locate()') Locate
          button.button(id='search' name='search' onclick='search()') Search
  script(src="../js/timetable.min.js")
  script(src="../data/timetable.json")
  script(src="../data/stations.json")
